$color: darkorange;

body {
    background-color: black;
}

.nav {
    margin: 20px;
}


h1, h3, h5 {
    color: $color;
    text-align: center;
}

.lead {
    padding: 20px;
    color: white;
    text-align: left;
    text-size-adjust: auto;
}

%text {
    font-size: 16px;
    color: white;
    padding: 15px;
}

.description {
    @extend %text;
    text-align: left;
    text-size-adjust: auto;
}

.footer {
    @extend %text;
    text-align: center;
    background-color: grey;
}

.col-12 {
    border: 1px solid $color;
}

.table {
    color: white;
}

.container-fluid {
    margin: 20px;
}

h4 {
    padding: 15px;
    color: white;
}

.list {
    padding: 10px;
    color: white;
    text-align: left;
    text-size-adjust: auto;

    ul {
        text-justify: auto;
    };

    ol {
        text-justify: none;
    }
}

@media print {
    .nav-pills {
        display: none;
    }
}

.divider {
    padding: 2px;
    border-bottom: 1px solid darkorange;
}
